<section>
  <div class="card" *ngIf="(currentWeather | async) as weather">

    <div class="card-header">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <div>
            <span class="text-muted"><i class="bi bi-geo-alt-fill"></i>&nbsp;</span>
            <span class="text-muted">{{ weather.location.name }}, {{ weather.location.region }}, {{ weather.location.country }}</span>
          </div>
        </div>
        <div class="flex-grow-1 ms-3"></div>
        <div class="flex-shrink-0">
          <div *ngIf="weather.current">
            <span class="text-muted"><i class="bi bi-calendar"></i> {{ weather.current.time | date:'fullDate' }} <i class="bi bi-clock"></i> {{ weather.current.time | date:'mediumTime' }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <img src="{{ weather.current.conditionIcon | conditionIcon:weather.current.isDay }}">
        </div>
        <div class="flex-grow-1 ms-3">
          <h1 class="card-title">{{ weather.current.temperature | number:'1.0-1' }} &deg;C</h1>
          <h2 data-class="card-subtitle mb-2">
            <span class="text-muted">{{ weather.current.conditionText }}</span>
          </h2>
        </div>
        <div class="flex-shrink-0">
          <h3>{{ weather.current.apparentTemperature | number }} &deg;C <i class="bi bi-thermometer-sun"></i></h3>
          <h6 class="text-muted">Sensación térmica</h6>
        </div>
      </div>
      <p class="card-text {{ weather.current.uv > 7 ? 'alert alert-danger' : (weather.current.uv > 5 ? 'alert alert-warning' : '') }}" *ngIf="weather.current.uv > 2">
        {{ weather.current.uv | uvIndicator }}
      </p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col text-center">
            <h2><i class="bi bi-sun"></i></h2>
            <h6 class="text-muted">Índice UV</h6>
            <h4>{{ weather.current.uv | number }}</h4>
          </div>
          <div class="col text-center">
            <h2><i class="bi bi-wind"></i></h2>
            <h6 class="text-muted">Viento</h6>
            <h4>{{ weather.current.windSpeed | number:'1.0-1' }} km/h</h4>
          </div>
          <div class="col text-center">
            <h2><i class="bi bi-moisture"></i></h2>
            <h6 class="text-muted">Humedad</h6>
            <h4>{{ weather.current.humidity | number:'1.0-1' }} %</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Current weather placeholder -->
<section *ngIf="!loaded">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <p class="card-text placeholder-glow">
            <span class="placeholder col-12"></span>
          </p>
        </div>
        <div class="col"></div>
        <div class="col">
          <p class="card-text placeholder-glow">
            <span class="placeholder col-12"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h1 class="card-title placeholder-glow">
        <span class="placeholder col-4"></span>
      </h1>
      <h2 data-class="card-subtitle mb-2" class="placeholder-glow">
        <span class="placeholder col-6"></span>
      </h2>
      <p class="card-text"></p>
      <a href="#" tabindex="-1" class="btn btn-light disabled placeholder col-3">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Observando el cielo...
      </a>
    </div>
  </div>
</section>
